/* Reset default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #f0f0f0;
}

/* Footer styles */
footer {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    /* column-gap: 50px; */
    flex-shrink: 0; /* Prevents the footer from shrinking */
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* Portfolio gallery styles */
.portfolio-gallery {
    padding: 50px;
    text-align: center;
}

.gallery-item {
    display: inline-block;
    margin: 20px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

/* Contact form styles */
.contact-form {
    padding: 50px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
}
